<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VendorId</key>
	<integer>69</integer>
	<key>Secret</key>
	<string>np4mv33rps</string>
	<key>API_KEY</key>
	<string>d0dd31bb-d1b7-11ec-9676-391f7bfe9911</string>
</dict>
</plist>
